<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="style.css" />
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
        <h3>Usage:</h3>
        <ul>
            <li><a href="api/2022-11-09">[project url]/api/2022-11-09</a></li>
            <li><a href="api/1668009497">[project url]/api/1668009497</a></li>
        </ul>

        <h3>Output:</h3>
        <p>
            <code>{"unix":1668009497, "GMT":"Wed, November 9, 2022 11:57:04 PM GMT+08:00"}</code>
        </p>
    </div>
    <div class="footer">
        <p>
            Submitted to <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
        </p>
    </div>
  </body>
</html>
